* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

/* LAYOUT */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
}

.form-container {
  width: 80%;
  margin: 0 auto;
}

/* FLEX */

.d-flex {
  display: flex;
}

.j-center {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

/* HEADER */

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* MAIN */

form input {
  width: 80%;
  padding: 10px 5px;
}

form button {
  width: 20%;
}

.articles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px 0;
}

.article-card {
  width: 30%;
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}